@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital@0;1&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #30475e !important;
}

.tituloPrincipal {
  text-align: center;
  align-items: center;
  margin-top: 1ch;
  color: #ffff;
}

#Container {
  margin: 8ch 20px 20px;
}

.Conteudo {
  margin: 2ch 0 0 2ch;
}

.titulo {
  margin: -28px 0 0 2ch;
  color: #ffda77;
  font-size: 23px;
  font-family: "Ubuntu", sans-serif;
}

.descricao {
  margin: 1ch 0 1ch 0;
  color: #bbbfca;
}

.data {
  color: #ffff;
  font-size: 15px;
}

.container {
  margin-top: 15em;
}

.textArea {
  height: 200px !important;
}
